* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(132, 58, 241);
    --dark-theme: rgb(36, 37, 38);
    --white-text: white;
    --input-primary-color: rgb(58, 59, 60);
}
.home {
    background: url('./images/background.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .decoration {
        border: none;
        width: 100px;
        background: linear-gradient(to right, rgb(101, 103, 242), rgb(118, 44, 240));
        height: 35px;
        border-radius: 5px;
        color: white;
        transform: translate(200px, -300px);
        z-index: 1;
        animation: roll-in-left ease 3s;
    }
    .decoration:hover {
        cursor: pointer;
        background: linear-gradient(to right, rgb(88, 90, 246), rgb(108, 21, 249));
    }
    .visible {
        display: block;
    }
    .invisible {
        display: none;
    }
    .container {
        z-index: 2000;
        display: flex;
        animation: scale-in-center ease 2s;
        .left {
            background-color: white;
            padding: 45px;
            width: 350px;
            height: 600px;
            .form {
                .form__header {
                    margin-bottom: 15px;
                    span {
                        font-size: 24px;
                        color: var(--primary-color);
                    }
                }
                .form__mid {
                    .form__input {
                        display: flex;
                        flex-direction: column;
                        input {
                            margin: 10px 0;
                            padding: 10px;
                            border-radius: 5px;
                            border: 1px solid var(--primary-color);
                        }
                        input:focus {
                            outline-color: var(--primary-color);
                        }
                        label {
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }
                    .form__span {
                        margin-top: 5px;
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span {
                            color: var(--primary-color);
                            font-size: 14px;
                        }
                    }
                    .button {
                        border: none;
                        width: 100%;
                        background: linear-gradient(to right, rgb(101, 103, 242), rgb(118, 44, 240));
                        height: 35px;
                        border-radius: 5px;
                        color: white;
                    }
                    .button:hover {
                        background: linear-gradient(to right, rgb(88, 90, 246), rgb(108, 21, 249));
                        cursor: pointer;
                    }
                }

                .form__footer {
                    .footer__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border-radius: 5px;
                        margin-bottom: 20px;
                    }
                    .navigate__btn {
                        border: none;
                        font-size: 16px;
                        color: var(--primary-color);
                        background: white;
                        padding-top: 5px;
                        margin-left: 10px;
                    }
                    .navigate__btn:hover {
                        color: orange;
                        cursor: pointer;
                    }
                }
            }
        }
        .right {
            .img {
                background: url('./images/1.png') no-repeat;
                height: 600px;
                width: 491px;
                background-size: contain;
            }
        }
    }
    .chat__container {
        display: flex;
        width: 65%;
        height: 80%;
        justify-content: center;
        border: 2px solid rgba(255, 255, 255, 0.2);

        //animation: scale-in-center ease 3s;
        .sidebar {
            flex: 1;
            background: var(--dark-theme);
            border: 2px solid rgba(5, 5, 5, 0.2);
            border-right: 2px solid rgba(255, 255, 255, 0.2);

            .nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 10%;
                padding: 10px;
                position: relative;
                border: 2px solid rgba(5, 5, 5, 0.2);
                span {
                    color: var(--white-text);
                    font-size: 25px;
                }
                .user {
                    display: flex;
                    align-items: center;
                    img {
                        background-color: #ddddf7;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 5px;
                    }
                    span {
                        font-size: 20px;
                    }
                }
            }
            .nav::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.06;
                pointer-events: none;
            }
            .search {
                margin-top: 10px;
                .searchForm {
                    display: flex;
                    justify-content: center;
                    input {
                        border-radius: 15px;
                        padding: 8px;
                        width: 80%;
                        background: var(--input-primary-color);
                        border: 1px solid var(--input-primary-color);
                        color: var(--white-text);
                    }
                }
                .userChat {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--primary-color);
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .userChatInfo {
                        span {
                            font-size: 18px;
                            font-weight: 500;
                            color: #000;
                        }
                        p {
                            font-size: 14px;
                            color: lightgray;
                        }
                    }
                }
            }
            .chats {
                margin-top: 10px;
                .userChat {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--primary-color);
                    }
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--white-text);
                    }
                    p {
                        font-size: 14px;
                        color: lightgray;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 200px;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .chatBox {
            flex: 2;
            background: var(--dark-theme);
            display: flex;
            flex-direction: column;
            .chatInfo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px solid rgba(5, 5, 5, 0.2);

                .userInfo {
                    &:hover {
                        background: grey;
                    }
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    margin: 5px;
                    border-radius: 4px;
                    span {
                        color: white;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 5px;
                    }
                }
                .icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 30px;
                        margin: 10px;
                        font-size: 25px;
                        color: var(--primary-color);
                        &:hover {
                            background: grey;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }
            .messages {
                background-color: var(--dark-theme);
                padding: 10px;
                height: calc(100% - 160px);
                overflow: auto;
                flex: 1;
                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    align-items: center;
                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        span {
                            color: var(--white-text);
                        }
                    }
                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p {
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 40px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }
                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;
                            p {
                                background-color: #8da4f1;
                                color: white;
                                border-radius: 40px;
                                overflow-wrap: break-word;
                                width: 400px;
                            }
                        }
                    }
                }
            }
            .input {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                background: var(--dark-theme);
                input {
                    width: 80%;
                    border-radius: 15px;
                    padding: 6px 10px;
                }
                .send {
                    padding: 5px;
                    border-radius: 50%;
                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    //starFall design
    section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        span {
            position: inherit;
            top: 50%;
            left: 50%;
            width: 4px;
            height: 4px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1),
                0 0 0 2px rgba(255, 255, 255, 1);
            animation: animate 3s linear infinite;
        }
        span:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 300px;
            height: 1px;
            background: linear-gradient(90deg, #fff, transparent);
        }

        span:nth-child(1) {
            top: 0;
            right: 0;
            left: initial;
            animation-delay: 0;
            animation-duration: 2s;
        }
        span:nth-child(2) {
            top: 0;
            right: 1080px;
            left: initial;
            animation-delay: 0.2s;
            animation-duration: 2s;
        }
        span:nth-child(3) {
            top: 80px;
            right: 1300px;
            left: initial;
            animation-delay: 0.4s;
            animation-duration: 3s;
        }
        span:nth-child(4) {
            top: 0px;
            right: 180px;
            left: initial;
            animation-delay: 1s;
            animation-duration: 1.5s;
        }
        span:nth-child(5) {
            top: 0;
            right: 800px;
            left: initial;
            animation-delay: 0.2s;
            animation-duration: 2.5s;
        }
        span:nth-child(6) {
            top: 0;
            right: 800px;
            left: initial;
            animation-delay: 1.5s;
            animation-duration: 2.5s;
        }
        span:nth-child(7) {
            top: 0;
            right: -200px;
            left: initial;
            animation-delay: 1s;
            animation-duration: 2s;
        }
    }
}

//animation
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translate(-800px, -300px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translate(200, -300px) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translate(-800px, -300px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translate(200, -300px) rotate(0deg);
        opacity: 1;
    }
}
@keyframes animate {
    0% {
        transform: rotate(300deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(300deg) translateX(-1000px);
        opacity: 0;
    }
}
